body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #000;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    opacity:0;

    #guide {
        width: $banner-width;
        height: $banner-height;
        top: 0px;
        left: 0px;
        opacity:0;
        position: absolute;
    }

    #txt1 {
        top: 10px;
        left: 0;
        position: absolute;
    }

    #txt2 {
        top: 10px;
        left: 0;
        position: absolute;
    }

    #logo {
        bottom: 0;
        left: 0;
        position: absolute;
    }

    #resolve_bg {
        top: 0;
        left: 300px;
        position: absolute;
        transform: translate3d(0, 0, 0.1px);
    }

    #resolve_txt2a {
        bottom: 0;
        left: 0;
        opacity:0;
        position: absolute;
        clip: rect(0px, 95px, 65px, 0px);
    }

    #resolve_txt2b {
        bottom: 0;
        left: 0;
        opacity:0;
        position: absolute;
        clip: rect(0px, 189px, 65px, 95px);
    }

    #resolve_txt2c {
        bottom: 0;
        left: 0;
        opacity:0;
        position: absolute;
        clip: rect(0px, 263px, 65px, 189px);
    }

    #cta {
        width: 144px;
        height: 45px;
        left: 80px;
        top: 140px;
        background-color: rgba(0, 32, 92, 1);
        opacity:0;
        position: absolute;
    }

    #table {
        width: $banner-width;
        height: $banner-height;
        top: 0;
        left: 0;
        position: absolute;


        #lid {
            top: 100px;
            left: -75px;
            position: absolute;
            transform: translate3d(0, 0, 0.1px);
        }

        #food {
            top: 100px;
            left: -75px;
            position: absolute;
            transform: translate3d(0, 0, 0.1px);
        }

        #marble {
            position: absolute;
            transform: translate3d(0, 0, 0.1px);
        }
    }



    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #border {
        border: 1px solid #ccc;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }


}
